
body {
	font: 100 14px Verdana, Helvetica, Arial;
	margin: 10px;
	background: #ccf;
}

img {
	border: 0;
}

hr {
	border: 0;
	border-bottom: 1px solid gray;
}

a {
	text-decoration: none;
}

a:hover {
	border-bottom: 1px dotted blue;
}

label {
	width: 100px;
	float: left;
}


.left {
	float: left;
	margin: 0 5px 5px 0;
}

.right {
	float: right;
	margin: 0 0 5px 5px;
}


#outer {
	margin: 0 auto 0 auto;
	width: 640px;
	border: 2px solid black;
	background: #99c;
}

#inner {
	margin: 5px;
	padding: 10px;
	border: 2px solid black;
	background: white;
}

#inner h1 {
	font-size: 1.3em;
}

#inner h2 {
	font-size: 1.2em;
}

#footer {
	padding: 0;
	height: 31px;
	line-height: 31px;
	font-size: 0.8em;
}

#error {
	line-height: 24px;
	margin: 5px;
	padding: 10px 0 10px 44px;
	border: 2px solid black;
	background: white url('../img/warning.png') 10px 50% no-repeat;
	display: none;
	cursor: pointer;
	color: red;
	font-weight: bold;
}

#message {
	line-height: 24px;
	margin: 5px;
	padding: 10px 0 10px 44px;
	border: 2px solid black;
	background: white url('../img/info.png') 10px 50% no-repeat;
	display: none;
	cursor: pointer;
}

/* error message */
.error {
	/* supply height to ensure consistent positioning for every browser */
	height:15px;
	background-color:#FFFE36;
	border:1px solid #E1E16D;
	font-size:11px;
	color:#000;
	padding:3px 10px;
	margin-left:-2px;


	/* CSS3 spicing for mozilla and webkit */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;

	-moz-box-shadow:0 0 6px #ddd;
	-webkit-box-shadow:0 0 6px #ddd;
}

