[% META title = 'Join a Chat Room' -%]
[% BLOCK js -%]
$('form').validationEngine();
[% END -%]
<h1>Join a Chat Room</h1>
[% IF rooms.size -%]
<table>
[% FOREACH room IN rooms -%]
<tr>
	<td>
		<a href="[% c.uri_for_action('/chat/view', room.id) %]">[% room.name %]</a>
	</td>
	<td>
		[% room.created %]
	</td>
</tr>
[% END -%]
</table>
[% ELSE -%]
<p>There are no rooms, yet.  Be the first to create one!</p>
[% END -%]
<h2>Create Your Own Room</h2>
[% form.render %]
