[% META title = 'Live' -%]
[% BLOCK js -%]
$('form').validationEngine();
[% END -%]
<h1>Room: [% room.name %]</h1>
[% FOREACH msg IN messages -%]
<p>[% msg.author.username %] ([% msg.posted %]): [% msg.content %]</p>
[% END -%]
[% form.render -%]
