<h1>Chatty - Toy chat app written in Perl/Catalyst</h1>
<p>
This app lets you chat with other registered chatters. Cool!  Once you are
registered and logged-in, you will be allowed to join a chat room and get
chatty.
</p>
[% IF ! c.user_exists -%]
[% INCLUDE login.tt -%]
[% ELSE %]
<a href="[% c.uri_for('logout') %]">Log Out</a>
[% END -%]
