<h1>Log In</h1>
[% IF ! c.user_exists %]
<form action="[% c.uri_for('login')  %]" method="post">
	<label for="handle">Username</label>
	<input type="text" name="handle" id="handle">
	<label for="password">Password</label>
	<input type="password" name="password" id="password">
	<input type="submit" value="Login">
</form>
[% ELSE %]
<p>You are already logged in.</p>
<a href="[% c.uri_for('logout') %]">Log Out</a>
[% END %]
