[% META title = 'Register' -%]
[% BLOCK js -%]
$('form').validationEngine();
$('form input[type=reset]').click(function() {
	$('form').validationEngine('hideAll');
});
[% END -%]
<h1>Register</h1>
[% IF ! c.user_exists -%]
[% form.render %]
[% ELSE -%]
<p>You are already registered and logged in.  There is no need to register again.</p>
[% END -%]
